.option {
  position: relative;
  height: 40px;
  padding: 0 15px;
  line-height: 36px;
  font-size: 30px;

  background-color: $gray-light;
  border: 2px solid $color-dark;

  cursor: pointer;

  transition: all 0.2s;

  &:hover {
    background-color: $color-main;
  }
}
